.shopContainer{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.components-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  margin-left: 100px;
  margin-top: 50px;
}

.order-summary{
  background: #FF99004D;
}