.OverallContainer{
  background-color: #f2f4fa;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.titleWithlogo{
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}
.titleWithlogo h2{
  font-family: 'Berkshire Swash', cursive;
  margin: 0;
}
.titleWithlogo img{
  height: 80px;
}

.todays-exercise{
  margin-left: 100px;
}
.exercise-details{
  background-color: #b0b8d0;
}

.addbreak{
  display: flex;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
  margin: auto;
  margin: 0px 20px;
  background-color: white;
}
.exercise{
  margin: 20px;
}
.exercise h4{
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
}